.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

/* Feature Section */
.featuresRow {
  margin-top: -2rem;
}

.featuresRow .featuresRowItemContainer {
  padding-top: 2rem;
}

.featuresRow .featuresRowItem {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.5rem;
}

.featuresRow .featuresRowItemTitle {
  font-size: 1rem;
}

.featuresRow .featuresRowItemDescription {
  font-size: 0.9rem;
}

.featuresRow .featuresRowItemLink {
  font-size: 0.9rem;
}

/* Testimonial Section */
.testimonial {
  font-size: 15px;
}

.testimonialsSection {
  margin-top: -2rem;
}

.testimonialsSection > :global(.col) {
  padding-top: 2rem;
  margin-top: -2rem;
}

.testimonialsSection > :global(.col) > * {
  margin-top: 2rem;
}

.testimonialMeta,
.testimonialMeta:hover {
  color: var(--ifm-color-emphasis-700);
}

/* Not sure how many of these I actually need. */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroBannerLogo {
  max-width: 300px;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionTitle {
  font-size: 2rem;
}

.sectionTagline {
  font-size: 1.25rem;
}

.sectionAlt {
  background-color: var(--ifm-color-emphasis-100);
}

html[data-theme="light"] .sectionAlt2 {
  background-color: var(--ifm-color-emphasis-200);
}

.sectionSponsor {
  background: linear-gradient(90deg, #12c2e9, #c471ed, #f64f59);
}

.sectionSponsorAlt {
  background: linear-gradient(
    135deg,
    rgb(29, 136, 244),
    rgb(252, 67, 128),
    rgb(251, 191, 36)
  );
}

.sectionSponsorTitle {
  color: var(--ifm-color-white);
}

.quote {
  font-size: 1.1rem;
}

.howToUseStep {
  height: 100%;
}

.howToUseStepLabel {
  color: var(--ifm-color-primary);
  font-size: 0.9rem;
  font-weight: bold;
}

/* Redaction span*/
.redacted span {
  position: relative;
  white-space: pre;
  display: inline;
}

.redacted span::before,
.redacted span::after {
  background: black;
  border-radius: 0.1em;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
  content: " ";
  width: 100%;
  height: 1.4em;
  left: 0;
  position: absolute;
  /* transform: skewY(-30deg) rotate(30deg); */
}

.redacted span::before {
  top: 0%;
  left: -0.1em;
  transform: skewY(-5deg) rotate(5deg);
}

.redacted span::after {
  top: 0%;
  right: -0.1em;
  transform: skewY(-5deg) rotate(5deg);
}
